{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;

  }
   h1 {
      text-align: center;
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button {
        margin-left: 35%;
        width: 190px;
    }
    select {
      padding: 6px;
      padding-top: 7px;
      border-radius: 6px;
      margin-left: 4%; 
      width: 190px;
    }
    </style>
   <div class="container">
      <h1>Student Application</h1>
   <div class="card">
  <img style="width: 190px;" src="https://static.vecteezy.com/system/resources/thumbnails/000/511/962/small/57_Student.jpg" alt="Student Icon">
    <br><h3>Mr. Mark jonas</h3><br>
    <h5><p><strong>Department :</strong> Computer Science and Engineering</p></h5>
    <h5><p><strong>Drive :</strong> Drive 1</p></h5>
    <h5><p><strong>Cgpa :</strong> 9.8</p></h5>
    <h5><p><strong>Job Title :</strong> Data Scientist</p></h5>
    <h5><p><strong>Application Status :</strong> Waiting</p></h5>
   <div>
      <button class="btn btn-outline-primary">View Resume</button><button style="margin-left: 2%;" class="btn btn-outline-primary">Back</button></div>
   </div>
   </div>   
{% endblock %}