<!DOCTYPE html>
<html lang="en">
<head>
   <title>Company Details</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <div class="card mb-3">
  <img style="width: 150px; margin:25px 25px 1px 25px" src="/placement-portal-application-v1/static/company logo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">Drive 1</h1><br>
    <h6><div><p class="card-text"><strong>Job Title:</strong></p></div></h6>
    <h6><div><p class="card-text"> Senior Software Developer</p></div></h6><br>
    <h6><div><p class="card-text"><strong>Description:</strong></p></div></h6>
    <h6><div><p class="card-text">Responsible for developing and maintaining software applications.</p></div></h6><br>
    <h6><div><p class="card-text"><strong>Eligibility criteria:</strong> skills</p></div></h6><br>
    <h6><div><p class="card-text"><strong>Application deadline:</strong> 15th June 2026</p></div></h6><br>
    <h6><div><p class="card-text"><strong>Salary:</strong> 600000</p></div></h6><br>
    <h6><div><p class="card-text"><strong>Location:</strong> Bangalore</p></div></h6>
   <!--create button-->
   <!--style-->
   <div>
      <button style="margin-left: 40%;width: 190px;" type="button" class="btn btn-primary">Go Back</button></div>
   </div>
</body>
</html>