{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
         text-align: center;
        color: #fffcfc;
        text-shadow: 20px 20px 20px#000102 ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        text-transform: capitalize;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    .btn {
        margin-left: 43%;
        width: 190px;
        border-radius: 15px;
    }
</style>
   <div class="container">
    <h1>{{student.student_name}}'s History</h1>
    <h5><strong>Student Name : </strong>{{student.student_name}}</h5><br>
    <h5><strong>Department : </strong>{{student.department}}</h5><br>
    <h5><strong>Cgpa : </strong>{{student.cgpa}}</h5>
    <div style="display: flex;">
    <div style="margin-left: auto ;"><a href="{{url_for('whole_student_profile', student_id=student.id)}}" class="btn btn-success"><- Go Back</a></div>
    </div>
  <br>
   <div class="card">
     <table>
  <thead>
    <tr>
      <th>Drive No.</th>
      <th>Company Name</th>
      <th>Job Title</th>
      <th>Results</th>
      <th>Applied Date</th>
    </tr>
  </thead>
  <tbody>
  {% if apps %}
    {% for app in apps %}
    <tr>
      <th>{{app.drive.id}}</th>
      <td>{{app.drive.company.company_name}}</td>
      <td>{{app.drive.job_title}}</td>
      <td>
        {% if app.status == "Applied" %}
            <span style="color: rgb(232, 223, 124);">{{app.status}}</span>
        {% elif app.status == "Reject"%}
            <span style="color: rgb(220, 20, 20);">{{app.status}}</span>
        {% else %}
          <span style="color: rgb(43, 220, 20);">{{app.status}}</span>
        {% endif %}
      </td>
      <td>{{app.application_date.date()}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
       <td style="color:#1461ce;">No record yet..</td>
    </tr>
  {% endif %}
  </tbody>
</table>
</div>
</div>
{% endblock %}