{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        text-align: center;
        color: #fffcfc;
        text-shadow: 20px 20px 20px#000102 ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   table {
        width: 100%;
        margin-top: 10px;
    }
      th,td {
         padding: 10px;
        text-align: left;
        text-transform: capitalize;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    th {
        color: #ffffff;
        text-shadow: 2px 2px 2px #c18585;
    } 
    button{
      width: 190px;
    }
    .bar{
      background:rgba(255,255,255,0.05);
        border: 1px solid #f9f6f6;
        color: #e2e8f0;
        border-radius: 20px;
        padding: 10px;
        margin-top: 25px;
       width: 85%;
      }
    .bar:hover{
        background:rgba(77, 77, 78, 0.1);
      }
      .btn{
        width: 190px;
        border-radius: 15px;
      }
  </style>  
<div  class="container">
  <h1>Admin Dashboard</h1>
  <div>
    <form method="GET" action="{{url_for('admindash')}}">    
      <input class="bar" type="text" name="search" placeholder="Search by name or ID for Company and Student">
      <button class="btn btn-outline-success">Search</button>
       {% if error4 %}
      <div class="alert alert-primary" role="alert" style="padding: 0%; text-align: center; margin-top: 3px;">
        {{ error4 }}
      </div>
    {% endif %} 
  </form>
  </div>
  <!-- Registered Companies -->
   <div class="card">
    <h3>Approved Company Profiles</h3>
      <table>
  <thead>
    <tr>
        <th>Company Name</th>
        <th style="padding-left: 6%;">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if registered_companies %}
      {% for company in registered_companies %}
    <tr>
      <td>{{company.company_name}}</td>
      <td><a href="{{url_for('company_blacklist', company_id=company.user_id)}}" class="btn btn-outline-danger">Blacklist</a></td>    
   </tr>
   {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No Approved companies yet.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
    <!-- regidtered students -->
    <div class="card">
      <h3>Registered Students</h3>
      <table>
  <thead>
    <th>Student Name</th>
    <th>Status</th>
    <th style="padding-left: 6%;">Action</th>
  </thead>
  <tbody>
  {% if registered_students %}
      {% for student in registered_students %}
    <tr>
      <td>{{student.student_name}}</td>
      <td>
        {% if student.user.is_approved == True %}
          <span style="color: rgb(43, 220, 20); font-weight: bold;">Approved</span>
        {% else %}
          <span style="color: rgb(220, 20, 20); font-weight: bold;">Blocked</span>
        {% endif %}
        </td>
      <td>
      {% if student.user.is_approved == True %}
        <a href="{{url_for('student_blacklist', student_id=student.user.id)}}" class="btn btn-outline-danger">Blacklist</a>
      {% else %}  
        <a href="{{url_for('student_approve', student_id=student.user.id)}}" class="btn btn-outline-success">Approve</a>
      {% endif %}
      </td>    
   </tr>
   {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No registered students yet.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
    <!-- companies applications -->
   <div class="card">
    <h3>Registered Companies For Approval</h3>
      <table>
  <thead>
    <th>Company Username</th>
    <th style="padding-left: 6%;">Action</th>
  </thead>
  <tbody>
  {% if approval_companies %}
    {% for approval in approval_companies %}
    <tr>
      <td>{{approval.username}}</td>
      <td><a href="{{url_for('company_approve', company_id=approval.id)}}" class="btn btn-outline-success">Approve</a></td>    
   </tr>
 {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No registered companies yet.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
   <!-- drives -->
      <div class="card">
    <h3>Job Drives</h3>
      <table>
  <thead>
    <tr>
      <th>Drive ID</th>
      <th>Job Title</th>
      <th>Company Name</th>
      <th>Internal Status</th>
      <th>Current Status</th>
      <th style="padding-left: 6%;">Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% if job_drives %}
    {% for job in job_drives %}
    <tr>
      <td>{{job.id}}</td>
      <td>{{job.job_title}}</td>
      <td>{{job.company.company_name}}</td>
      <td>
        {% if job.is_closed == True %}
            <span>Inactive</span>
        {% else %}
            <span>Active</span>
        {% endif %}
      </td>
      <td>
        <span style="color: rgb(220, 20, 20);">Not Approved</span>
      </td>
      <td>
        <a href="{{url_for('drive_approve', drive_id=job.id)}}" class="btn btn-outline-success">Approve</a>
      </td>
      <td>
        <a href="{{url_for('admin_view_com', drive_id=job.id)}}" class="btn btn-dark">view details</a>
      </td>
    </tr>
 {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No Pending Drives.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
      <!-- Ongoing Drives -->
   <div class="card">
    <h3>Ongoing Drives</h3>
      <table>
  <thead>
    <tr>
      <th>Drive ID</th>
      <th>Job Title</th>
      <th>Company Name</th>
      <th style="padding-left: 14%;">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% if ongoing_drives %}
    {% for job in ongoing_drives %}
    <tr>
      <td>{{job.id}}</td>
      <td>{{job.job_title}}</td>
      <td>{{job.company.company_name}}</td>
      <td><a href="{{url_for('admin_view_com', drive_id=job.id)}}" class="btn btn-outline-info">view details</a>
          <a href="{{url_for('drive_disapprove', drive_id=job.id)}}" class="btn btn-outline-danger">Disapprove</a>
    </tr>
      </td>
    </tr>
 {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No Approved Drives.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
   <!--students applications-->
   <div class="card">
    <h3>Student Applications</h3>
      <table>
  <thead>
    <tr>
      <th>Drive Id</th>
      <th>Name</th>
      <th>Job Title</th>
      <th>company</th>
      <th>Date</th>
      <th style="padding-left: 6%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if apps %}
      {% for app in apps %}
    <tr>
      <td>{{app.drive_id}}</td>
      <td>{{app.student.student_name}}</td>
      <td>{{app.drive.job_title}}</td>
      <td>{{app.drive.company.company_name}}</td>
      <td>{{app.application_date.date()}}</td>
      <td><a href="{{url_for('admin_view_stu', app_id=app.id)}}" class="btn btn-outline-info">View</a></td>
    </tr>
 {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No Applications yet.</td>
   </tr>
  {% endif %}
  </tbody>
</table>
   </div>
</div>
{% endblock %}
