{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;

  }
   h1 {
      text-align: center;
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button {
        margin-left: 35%;
        width: 190px;
    }
    select {
      padding: 6px;
      padding-top: 7px;
      border-radius: 6px;
      margin-left: 4%; 
      width: 190px;
    }
     a.btn {
        width: 190px;
        border-radius: 15px;
    }
    </style>
   <div class="container">
      <h1>Student Application</h1>
   <div class="card">
  <img style="width: 190px;" src="https://static.vecteezy.com/system/resources/thumbnails/000/511/962/small/57_Student.jpg" alt="Student Icon">
    <br><h3>{{app.student.student_name}}</h3><br>
    <h5><p><strong>Department : </strong>{{app.student.department}}</p></h5>
    <h5><p><strong>Drive : </strong>{{app.drive.id}}</p></h5>
    <h5><p><strong>Cgpa : </strong>{{app.student.cgpa}}</p></h5>
    <h5><p><strong>Job Title : </strong>{{app.drive.job_title}}</p></h5>
    <h5><p><strong>Application Status : </strong>
        {% if app.status == "Applied" %}
            <span style="color: rgb(232, 223, 124);">{{app.status}}</span>
        {% elif app.status == "Reject"%}
            <span style="color: rgb(220, 20, 20);">{{app.status}}</span>
        {% else %}
          <span style="color: rgb(43, 220, 20);">{{app.status}}</span>
        {% endif %}</p></h5>
   <div>
      <a href="{{app.student.resume}}" target="_blank" style="margin-left: 32%;" class="btn btn-outline-primary">View Resume</a> <a href="{{url_for('admindash')}}" style="margin-left: 2%;" class="btn btn-outline-primary">Back</a></div>
   </div>
   </div>   
{% endblock %}