{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        text-align: center;
        color: #fffcfc;
    }
    h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   table {
        width: 100%;
        margin-top: 10px;
    }
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    th {
        color: #ffffff;
        text-shadow: 2px 2px 2px #c18585;
    } 
    button{
      width: 190px;
    }
    .bar{
      background:rgba(255,255,255,0.05);
        border: 1px solid #f9f6f6;
        color: #e2e8f0;
        border-radius: 20px;
        padding: 10px;
        margin-top: 25px;
       width: 85%;
      }
      .bar:hover{
        background:rgba(77, 77, 78, 0.1);
      }
      .btn{
        border-radius: 15px;
      }
  </style>  
<div  class="container">
  <h1>Admin Dashboard</h1>
  <div>
    <form method="GET">    
      <input class="bar" type="text" name="search" placeholder="Search by name or ID">
      <button class="btn btn-outline-success">Search</button>
  </form>
  </div>
  <!-- Registered Companies -->
   <div class="card">
    <h3>Registered Companies</h3>
      <table>
  <thead>
    <tr>
        <th>Company</th>
        <th style="padding-left: 6%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Infosys </td>
      <td><button class="btn btn-outline-danger">Blacklist</button></td>    
   </tr>
  </tbody>
</table>
   </div>
    <!-- regidtered students -->
    <div class="card">
      <h3>Registered Students</h3>
      <table>
  <thead>
    <th>Name</th>
    <th style="padding-left: 6%;">Action</th>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td><button class="btn btn-outline-danger">Blacklist</button></td>    
   </tr>
  </tbody>
</table>
   </div>
    <!-- companies applications -->
   <div class="card">
    <h3>Company Applications</h3>
      <table>
  <thead>
    <th>Company</th>
    <th style="padding-left: 6%;">Action</th>
  </thead>
  <tbody>
    <tr>
      <td>Infosys</td>
      <td><button class="btn btn-outline-success">Approve</button></td>    
   </tr>
  </tbody>
</table>
   </div>
   <!-- drives -->
      <div class="card">
    <h3>Job Drives</h3>
      <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Job Title</th>
      <th>Status</th>
      <th style="padding-left: 12%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1002</td>
      <td>Drive 2</td>
      <td>pending</td>
      <td><button class="btn btn-outline-success">Approve</button> <button class="btn btn-outline-danger">Disapprove</button></td>
    </tr>
  </tbody>
</table>
   </div>
      <!-- Ongoing Drives -->
   <div class="card">
    <h3>Ongoing Drives</h3>
      <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Drive Name</th>
      <th style="padding-left: 6%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1001</td>
      <td>Drive 1</td>
      <td><a href="/admin_view_com"><button class="btn btn-outline-info">view details</button></a></td>
    </tr>
  </tbody>
</table>
   </div>
   <!--students applications-->
   <div class="card">
    <h3>Student Applications</h3>
      <table>
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Name</th>
      <th>Drive</th>
      <th>company</th>
      <th>Date</th>
      <th style="padding-left: 6%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>abcd</td>
      <td>Drive 2</td>
      <td>Infosys</td>
      <td>13/02/2026</td>
      <td><a href="/admin_view_stu"><button class="btn btn-outline-info">View</button></a></td>
    </tr>
  </tbody>
</table>
   </div>
</div>
{% endblock %}
