{% extends "base.html" %}
{% block title %}Update application for drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    a.btn {
        margin-left: 45%;
        border-radius: 15px;
    }
</style>
<div  class="container">
   <h1>Update Applications For The Drive</h1><br>
   {% if drive %}
   <h3>Job Title : {{drive.job_title}}</h3><br>
   {% else %}
   <p style="color:#1461ce;"></p>
   {% endif %}
   <div class="card">
      <table>
         <h5>Received Applications</h5>
  <tbody>
    {% if applications %}
        {% for app in applications %}
    <tr>
      <td>{{app.student.student_name}}</td>
      <td><a href="{{url_for('review_application', app_id=app.id)}}" style=" width: 200px;" class="btn btn-outline-info">review application</a></td>    
   </tr>
  </tbody>
  {% endfor %}
  {% else %}
  <p style="color:#1461ce;">No Application yet.</p>
  {% endif %}
</table>
   </div><br>
   <div>
      <a href="{{url_for('companydash')}}" class="btn btn-primary">Back to dashboard</a></div>
   </div>
</div>
{% endblock %}