{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        border: 1px solid #737373;
        border-radius: 50px;
        padding: 30px;
        margin: 25%;
        margin-top: 10px;
        margin-bottom: 0%;
  }
   h1 {
        text-align: center;
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    button {
        margin-left: 34%;
    }
</style>
<div  class="container">
   <h1>Edit a Drive</h1>
   <div class="card">
   <form action="{{url_for('company_edit', drive_id=drive.id) }}" method="post">
   <div>
      <label for="Input2" class="form-label">Job Title:</label>
      <input name="jobtitle" type="text" class="form-control" id="Input2" placeholder="Job title"><br>
   </div>
   <div>
      <label for="Input3" class="form-label">Drive Description:</label>
      <textarea name="jobdescription" class="form-control" id="Input3" placeholder="Drive description"></textarea><br>
   </div>
   <div>
      <label for="Input6" class="form-label">Salary:</label>
      <input name="salary" type="text" class="form-control" id="Input6" placeholder="Salary"><br>
   </div>
   <div>
      <button type='submit'class="btn btn-success">Update Drive</button>
        <a href="{{url_for('companydash')}}" class="btn btn-success">Back</a></div>

</form>
   </div>
</div>
{% endblock %}