{% extends "base.html" %}
{% block title %}Student application update{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;

  }
   h1 {
      margin-left: 35%;
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button{
        width: 190px
    }
    a.btn {
        width: 190px;
        border-radius: 15px;
    }
    select {
      padding: 6px;
      padding-top: 7px;
      border-radius: 6px;
      margin-left: 5%; 
      width: 190px;
      border-radius: 12px;
      background-color: rgb(215, 213, 213);
    }
    </style>
   <div class="container">
        <div style="display: flex;">
      <h1>Student Application</h1>
      <div style="margin-left: auto ;"><a href="{{url_for('companydash')}}" class="btn btn-success"><- Back to dashboard</a></div>
    </div>
   <div class="card">
 <form action="{{url_for('review_application', app_id=app.id)}}" method="POST">
  <img style="width: 190px;" src="https://static.vecteezy.com/system/resources/thumbnails/000/511/962/small/57_Student.jpg" alt="Student Icon">
    <br><h3>{{app.student.student_name}}</h3><br>
    <h5><p><strong>Department : </strong>{{app.student.department}}</p></h5>
    <h5><p><strong>Drive : </strong>{{app.drive.id}}</p></h5>
    <h5><p><strong>Cgpa : </strong>{{app.student.cgpa}}</p></h5>
    <h5><p><strong>Job Title : </strong>{{app.drive.job_title}}</p></h5>
   <div>
      <a href="{{ app.student.resume }}"  target="_blank" class="btn btn-outline-primary">View Resume</a>
      <select name="status">
        <option selected disabled>Select Status</option>
        <option value="Shortlist" {% if app.status == "Shortlist" %}selected {% endif %}>Shortlist</option>
        <option value="Waiting" {% if app.status == "Waiting" %}selected {% endif %}>Waiting</option>
        <option value="Reject" {% if app.status == "Reject" %}selected {% endif %}>Reject</option>
      </select>
 <br><br><br><br>
      <button type="submit" style="margin-left: 40%;" class="btn btn-success">Save</button>
    </div>
    </form>
   </div>
   </div>
{% endblock %}