<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Drive Update</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="margin: 8px;">
   <h1>Update Applications For The Drive</h1>
   <h3>Job Title: Data Scientist</h3><br>
   <div>
      <table class="table" border="3">
  <thead>
    <th><h5>Received Applications</h5></th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Student 1</td>
      <td><button  style=" width: 200px;" type="button" class="btn btn-outline-info">review application</button></td>    
   </tr>
    <tr>
      <th scope="row">2</th>
      <td>Student 2</td>
      <td><button style=" width: 200px;" type="button" class="btn btn-outline-info">review application</button></td>
    </tr>
  </tbody>
</table>
   </div>
   <!--create button-->
   <!--style-->
   <div>
      <button style="margin-left: 50%;" type="button" class="btn btn-success">Save</button></div>
   </div>
</body>
</html>