<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Student Applications</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <div class="card mb-3">
      <h3 class="card-header">Student Application</h3>
  <img style="width: 190px; margin:25px 25px 1px 25px" src="/placement-portal-application-v1/static/studenticon.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">Mr. Mark jonas</h1><br>
    <h5><div><p class="card-text"><strong>Department:</strong> Computer Science and Engineering</p></div></h5><br>
    <h5><div><p class="card-text"><strong>Drive:</strong> Drive 1</p></div></h5><br>
    <h5><div><p class="card-text"><strong>Job Title:</strong> Data Scientist</p></div></h5><br>
   <!--create button-->
   <!--style-->
   <div>
      <button style="margin-left: 2%;width: 190px;" type="button" class="btn btn-outline-primary">View Resume</button>
      <select style="margin-left: 5%; width: 190px;">
         <option selected disabled>Update</option>
         <option>Shortlist</option>
         <option>Waiting</option>
         <option>Reject</option>
      </select><br>
 
      <button style="margin-left: 40%;width: 190px;" type="button" class="btn btn-primary">Back</button></div>
   </div>
</body>
</html>