{% extends "base.html" %}
{% block title %}Company Dashboard{% endblock %}

{% block content %}
<style>
   body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        text-align: center;
        color: #fffcfc;
        text-shadow: 20px 20px 20px#000102 ;
    }
    h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   table {
        width: 100%;
        margin-top: 10px;
    }
      th,td {
         padding: 10px;
        text-align: left;
        text-transform: capitalize;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    th {
        color: #ffffff;
        text-shadow: 2px 2px 2px #c18585;
    } 
    p{
        font-size: 18px;
        color: #e2e8f0;
    }

  .btn{
    width: 190px;
     border-radius: 15px;
  }
</style>
   <div class="container">
    {% if error1 %}
      <div class="alert alert-primary" role="alert" style="padding: 0%; text-align: center;">
        {{ error1 }}
      </div>
    {% endif %}
  <h1>Company Dashboard</h1>
  <div class="card">
    <h3>Company Profile</h3>

    {% if company and company.company_name %}
        <p><b>Name:</b> {{ company.company_name }}</p>
        <p><b>Hr Contact:</b> {{ company.hr_contact }}</p>
        <p><b>Website:</b> {{ company.website }}</p>
        <p><b>Location:</b> {{ company.location }}</p>
    {% else %}
        <p style="font-style: italic; font-weight: bold; color: brown;">Profile Incomplete</p>
    {% endif %}
    
    <a href="{{url_for('company_profile')}}">
        <button class="btn btn-warning">Complete / Edit Profile</button>
    </a>
</div>
<hr>
<div class="card">
  <h3>Shortlisted Student</h3>
  <table>
    <thead>
      <th>Drive Id</th>
      <th>Job Title</th>
      <th>Student Name</th>
      <th>Student Department</th>
      <th>Student Cgpa</th>
      <th style="padding-left: 70px;">Resume</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% if drives %}
      {% for item in drives %}
       {% for app in item.shortlist %}
      <tr>
        <td>{{item.job.id}}</td>
        <td>{{item.job.job_title}}</td>
        <td>{{app.student.student_name}}</td>
        <td>{{app.student.department}}</td>
        <td>{{app.student.cgpa}}</td>
        <td><a href="{{ app.student.resume }}" target="_blank" class="btn btn-secondary">Resume Link</a></td>
        <td><a href="{{url_for('whole_companystudent_profile', student_id=app.student.id, company_id=app.drive.company_id)}}" class="btn btn-dark">view Profile & History</a>
                  <td><a href="{{url_for('review_application', app_id=app.id)}}" class="btn btn-outline-light">View Application</a></td>
      </tr>
        {% endfor %}
      {% endfor %}
    {% else %}
  <tr>
   <td style="color:#1461ce;">No shortlisted student yet.</td>
   </tr>
  {% endif %}
    </tbody>
  </table>
</div>
   <!-- upcoming drives -->
   <div class="card">
    <div style="display: flex;">
    <div><h3>Upcoming Drives</h3></div> <div style="margin-left: auto ;"><a href="/create_drive"><button class="btn btn-success">Create</button></a></div>
  </div>

    <table>
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Admin Approval</th>
      <th>Total Applications</th>
      <th style="padding-left: 360px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if drives %}
      {% for item in drives %}
    <tr>
      <td>{{item.job.job_title }}</td>
      <td>
        {% if item.job.is_approved %}
          <span>Approved</span>
        {% else %}
          <span style="color: crimson;">Not Approved</span>
        {% endif %}
      </td>
      <td>{{item.total_apps}}</td>
      <td><a href="{{url_for('view_drives', drive_id=item.job.id)}}" class="btn btn-outline-info">view details</a>  
        <a href="{{url_for('company_edit', drive_id=item.job.id)}}" class="btn btn-outline-warning">Edit</a>
        <a href="{{url_for('company_close', drive_id=item.job.id)}}" class="btn btn-outline-primary">Close (Inactive)</a>  
        <a href="{{url_for('company_delete', drive_id=item.job.id)}}" class="btn btn-outline-danger">Delete</a></td>
    </tr>
         {% endfor %}
  {% else %}
  <tr>
   <td style="color:#1461ce;">No jobs posted yet.</td>
   </tr>
  {% endif %}
  </tbody>

</table>
   </div>
   <br>
    <!--closed drives-->
   <div class="card">
      <h3>Closed Drives</h3>
      <table>
  <thead>
    <tr>
      <th>Drive ID</th>
      <th>Job Title</th>
      <th style="padding-left: 70px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for drive in closed_drives %}
    <tr>
      <td>{{drive.id}}</td>
      <td>{{drive.job_title}}</td>
      <td><a href="{{url_for('company_open', drive_id=drive.id)}}">
          <button class="btn btn-outline-primary">Activate</button></a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>
   </div>
</div>
{% endblock %}