{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<style>
#canvas1{
   width: 60%;
   margin: auto;
   margin-top: 10px;
}
#canvas2{
   width: 400px;
   height: 390px;
   padding: 10px;
   margin: auto;
   border: 3px solid darkgray;
   margin-top: 100px;
   background-color: rgb(254, 255, 255);
   color: black;
}
label{
   font-weight: bold;
}

</style>
<body>
    <div id="main">
         <div id="canvas1">
         <div id="canvas2">
            <form action="/login" method="post">
               <h1>Login</h1>
               <div>
                  <label for="Input1" class="form-label">Username:</label>
                  <input name="name" type="text" class="form-control" id="Input1" placeholder="your username"><br>
               </div>
               <div>
                  <label for="Input2" class="form-label">Password:</label>
                  <input name="password" type="password" class="form-control" id="Input2" placeholder="your password"><br>
               </div>
               {% if error3 %}
                  <div class="alert alert-warning" role="alert" style="padding: 0%; text-align: center;">
                     {{ error3 }}
                  </div>
               {% endif %}
               {% if error2 %}
                  <div class="alert alert-warning" role="alert" style="padding: 0%; text-align: center;">
                     {{ error2 }}
                  </div>
               {% endif %}
               {% if error1 %}
                  <div class="alert alert-primary" role="alert" style="padding: 0%; text-align: center;">
                     {{ error1 }}
                  </div>
               {% endif %}
               <div style="text-align: center; font-weight: bold;">
                  <input type="submit" class="btn btn-primary" value="Login"><br>
                  Are you a new user? <a href="{{ url_for('registeration') }}">Register</a>
               </div>
            </form>
         </div>
      </div>
    </div>
    <br><br><br>
{% endblock %}