{% extends "base.html" %}
{% block title %}Registration Page{% endblock %}

{% block content %}
<style>
#canvas1{
   width: 60%;
   margin: auto;
}
#canvas2{
   width: 400px;
   height: 465px;
   padding: 10px;
   margin: auto;
   border: 3px solid darkgray;
   background-color: rgb(254, 255, 255);
   color: black;
   margin-top: 50px;
}
label{
   font-weight: bold;
}
select{
   width: 50%;
}
</style>
    <div id="main">
   {% if error %}
         <div class="alert alert-warning" role="alert" style="padding: 1%; text-align: center;">
               {{ error }}
          </div>
   {% endif %}
         <div id="canvas1">
         <div id="canvas2">
            <form action="/registeration" method="post">
               <h1>Registeration</h1>
               <div>
                  <label for="Input1" class="form-label">Username:</label>
                  <input name="name" type="text" class="form-control" id="Input1" placeholder="enter your username">
               </div><br>
               <div>
                  <label for="Input2" class="form-label">Email ID:</label>
                  <input name="email"type="email" class="form-control" id="Input2" placeholder="enter your email id">
               </div><br>
               <div>
                  <label for="Input3" class="form-label">Password:</label>
                  <input name="password" type="password" class="form-control" id="Input3" placeholder="enter your password">
               </div><br>
               <label>Registering as:</label>
               <select name="role">
                  <option selected disabled>role</option>
                  <option value="student">Student</option>
                  <option value="company">Company</option>
               </select>
               <br><br>
               <div style="text-align: center; font-weight: bold;">
                  <input type="submit" class="btn btn-primary" value="Register"><br>
                  Already registered? <a href="{{ url_for('login') }}">Login</a>
               </div>
            </form>
         </div>
      </div>
    </div><br><br>
{% endblock %}