{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        text-transform: capitalize;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button {
        margin-left: 48%;
        width: 190px;
    }
      .btn{
     border-radius: 15px;
  }
</style>
   <div class="container">
    <h1 
    style="text-shadow: 20px 20px 20px#000102 ;text-transform: capitalize;text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
        {{company.company_name}} Company
    </h1><br>
    <div style="display: flex;">
   <div><h1  style="font-style:italic;">Overview of company</h1></div> <div style="margin-left: auto ;"><a href="/studentdash"><button class="btn btn-success">Back</button></a></div>
   </div><hr>
   <h5>
        <p><b>Hr Contact : </b> {{ company.hr_contact }}</p>
        <p><b>Website : </b> {{ company.website }}</p>
        <p><b>Location : </b> {{ company.location }}</p></h5>
<hr><br>

   <div class="card">
      <h5>Current Drives</h5>
      <table>
  <tbody>
  {% if drives %}
    {% for drive in drives %}
    <tr>
      <td>{{drive.id}}</td>
      <td>{{drive.job_title}}</td>
      <td><a href="{{url_for('stu_com_view', drive_id=drive.id)}}"><button class="btn btn-outline-info">View Details</button></a></td>    
   </tr>
   {% endfor %}
  {% else %}
  <tr>
   <td style="color:#1461ce;">No jobs posted yet.</td>
   </tr>
  {% endif %}
  </tbody> 
</table>
   </div> 
   </div>  
{% endblock %}