<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Company Overview</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="margin: 20px;">
   <div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <label class="navbar-brand"><h4>Reliance</h4></label>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#">History</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">logout</a>
  </li>
</ul>
  </div>
</nav>
   </div><br>
   <h1>Overview</h1>
   <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolore sed libero molestiae omnis possimus, reprehenderit laborum necessitatibus tempora sit veritatis! Odio obcaecati perferendis praesentium corrupti accusantium soluta deserunt pariatur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quasi illo, architecto excepturi sit mollitia! Repellat qui hic, provident, dolore adipisci quod consequatur eligendi fugiat voluptates quam ad temporibus quas?
   Quae alias, quod animi in iste molestias dolorum, qui culpa magnam adipisci ex, facilis labore dolorem odio? Recusandae reprehenderit reiciendis veritatis repudiandae animi officiis, ipsa deserunt natus, cum libero similique.
   borum, quos saepe iste suscipit officiis pariatur corrupti placeat soluta illo doloribus voluptate totam.</h6><br>
   <br>
   <div>
      <table class="table" border="3">
  <thead>
    <th><h5>Current Drives</h5></th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Drive 1</td>
      <td><button  style=" width: 190px;" type="button" class="btn btn-outline-info">View Details</button></td>    
   </tr>
    <tr>
      <th scope="row">2</th>
      <td>Drive 2</td>
      <td><button  style=" width: 190px;" type="button" class="btn btn-outline-info">View Details</button></td>
    </tr>
  </tbody>
</table>
   </div>   
</body>
</html>