{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button {
        margin-left: 48%;
        width: 190px;
    }
</style>
   <div class="container">
   <h1>Overview</h1>
   <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolore sed libero molestiae omnis possimus, reprehenderit laborum necessitatibus tempora sit veritatis! Odio obcaecati perferendis praesentium corrupti accusantium soluta deserunt pariatur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quasi illo, architecto excepturi sit mollitia! Repellat qui hic, provident, dolore adipisci quod consequatur eligendi fugiat voluptates quam ad temporibus quas?
   Quae alias, quod animi in iste molestias dolorum, qui culpa magnam adipisci ex, facilis labore dolorem odio? Recusandae reprehenderit reiciendis veritatis repudiandae animi officiis, ipsa deserunt natus, cum libero similique.
   borum, quos saepe iste suscipit officiis pariatur corrupti placeat soluta illo doloribus voluptate totam.</h6><br>
   <br>
   <div class="card">
      <table>
    <h5>Current Drives</h5>
  <tbody>
    <tr>
      <td>Drive 1</td>
      <td><a href="/stu_com_view"><button class="btn btn-outline-info">View Details</button></a></td>    
   </tr>
    <tr>
      <td>Drive 2</td>
      <td><a href="/stu_com_view"><button  class="btn btn-outline-info">View Details</button></a></td>
    </tr>
  </tbody>
</table>
   </div> 
   </div>  
   </div>
{% endblock %}