{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<style>
    body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        color: #e2e8f0;
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        color: #fffcfc;
    }
    label {
      font-weight: bold;
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
    h5 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
     table {
        width: 100%;
        margin-top: 10px;
    } 
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    button {
        margin-left: 43%;
        width: 190px;
    }
</style>
   <div class="container">
    <h5><strong>Student Name : </strong>{{student.student_name}}</h5><br>
    <h5><strong>Department : </strong>{{student.department}}</h5>
    <div style="display: flex;">
    <div style="margin-left: auto ;"><a href="{{url_for('studentdash')}}" class="btn btn-success">Back to dashboard</a></div>
    </div>
  <br>
   <div class="card">
     <table>
  <thead>
    <tr>
      <th>Drive No.</th>
      <th>Company Name</th>
      <th>Job Title</th>
      <th>Results</th>
      <th>Applied Date</th>
    </tr>
  </thead>
  <tbody>
  {% if apps %}
    {% for app in apps %}
    <tr>
      <th>{{app.drive.id}}</th>
      <td>{{app.drive.company.company_name}}</td>
      <td>{{app.drive.job_title}}</td>
      <td>{{app.status}}</td>
      <td>{{app.application_date.date()}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
       <td style="color:#1461ce;">No record yet..</td>
    </tr>
  {% endif %}
  </tbody>
</table>
</div>
</div>
{% endblock %}