{% extends "base.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content %}
<style>
   body {
        margin: 0;
        background: linear-gradient(135deg, #141517, #3a3f47);
        color: #e2e8f0;
    }
    .container {
        width: 95%;
        margin: auto;
    }
  .card{
        background:rgba(255,255,255,0.05);
        border: 1px solid #737373;
        border-radius: 12px;
        padding: 20px;
        margin-top: 25px;
  }
   h1 {
        text-align: center;
        color: #fffcfc;
    }
    h3 {
        color: #ffffff;
        text-shadow: 15px 15px 15px #000000;
    }
   table {
        width: 100%;
        margin-top: 10px;
    }
      th,td {
         padding: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
        color:#feffff
    }
    th {
        color: #ffffff;
        text-shadow: 2px 2px 2px #c18585;
    } 
    p{
        font-size: 18px;
        color: #e2e8f0;
    }
    button {
        width: 190px;
    }
</style>
<div  class="container">
  <h1>Student Dashboard</h1>
    <div class="card">
      <h3>Profile</h3>
      <p>Name: John Doe</p>
      <p>Department: Computer Science</p>
      <p>Cgpa: 8.5</p>
      <p>resume-link: .pdf</p>
      <button class="btn btn-info">Create/Edit Profile</button>
    </div>
   <div class="card">
      <table>
        <h3>Organizations</h3>
  <thead>
    <th>Company</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>Infosys</td>
      <td><a href="/stu_com_overview"><button class="btn btn-outline-info">View Details</button></a></td> 
   </tr>
  </tbody>
</table>
   </div>
   <!--applied drives-->
   <div class="card">
    <h3>Applied Drives</h3>
      <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Drive Name</th>
      <th>Company</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Drive 1</td>
      <td>Infosys</td>
      <td>12/02/2026</td>
      <td><a href="/admin_view_stu"><button class="btn btn-outline-info">View Details</button></a></td>
    </tr>
  </tbody>
</table>
   </div>
</div>
{% endblock %}