<!DOCTYPE html>
<html lang="en">
<head>
   <title>Student History</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="margin: 8px;">
   <!--heading-->
   <div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <label class="navbar-brand"><h4>Student History</h4></label>
      <form class="d-flex" role="search">
        <button class="btn btn-info">back</button>
      </form>
    </div>
  </div><br>
   <!--info-->
   <div>
    <p><strong>Student Name:</strong> abc</p><br>
    <p><strong>Department:</strong> Computer Science</p>
   </div><br>
   <!--table(history)-->
   <div>
     <table class="table" border="3">
  <thead>
    <tr>
      <th scope="col">Drive No.</th>
      <th scope="col">Interview Type</th>
      <th scope="col">Job Title</th>
      <th scope="col">Results</th>
      <th scope="col">Remark</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>In-person</td>
      <td>SDE</td>
      <td>Shortlisted</td>
      <td>None</td>
    </tr>
     <tr>
      <th scope="row">2</th>
     <td>In-person</td>
      <td>SWE</td>
      <td>Rejected</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
   </div>
</body>
</html>